<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>VueJS v2 Demo</title>

    <script src="https://unpkg.com/vue@2.6.12"></script>
</head>
<body>

    <div id="app">
        <h1>Looping through lists</h1>
        <template>
            {{ characters[0] }}
        </template>
        <ul>
            <li v-for="(character, index) in characters">{{ character }}</li>
        </ul>
        <ul>
            <li v-for="ninja in ninjas">
                {{ ninja.name }} - {{ ninja.age }}
            </li>
        </ul>
        <template v-for="ninja in ninjas">
            <p v-for="(value, prop) in ninja">
                {{ prop }} - {{ value }}
            </p>
        </template>
    
    </div>

    <script src="./app.js"></script>

</body>
</html>